* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, blue , purple);
    width: 100%;
}

div.userInput{
    margin: 0 auto;
    float: left;
    padding: 15px;
}

input.taskInput {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.taskInputSubmit{
    border: none;
    outline: none;
    padding: 15px 20px;
    background: red;
    border-radius: 25px;
    float: left;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(128, 128, 128, 0.295);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%; display: flex;}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .centered-axis-x {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
    background-color: white;
    float: left;
    width: 50%;
    border-radius: 25px;
    padding: 25px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}